<!DOCTYPE html>
<html lang="en" th:replace="~{userData/userBase :: parent(~{::#content}, ~{::#title})}">

<head>
    <title id="title">add contact</title>
</head>

<body>

    <div id="content" style=" 
            margin-left:15%; ">

        <div th:replace="~{userData/sidebar :: sidebar}"></div>

        <div style="height: 1000px">
            <div class="grid grid-cols-12">
                <div class="col-span-3"></div>
                <div class="col-span-12 md:col-span-6">
                    <div
                        class="card block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <!-- <div data-th-replace="message::messagebox"></div> -->

                        <h1 class="text-2xl font-semibold">Edit Profile</h1>
                        <p class="text-gray-500">



                        <!-- form  -->
                        <form class="mt-8" th:action="@{/user/editUserProfile/{userId}(userId=*{user.userId})}"
                            method="POST" enctype="multipart/form-data">

                            <!-- Image change -->
                            <div class="mb-3 flex flex-col items-center pb-10">

                             
                                <label
                                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                  for="large_size"
                                  > <img 
                                  onerror="this.src='https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png'"
                                  class="w-44 h-44 mb-3 rounded-full shadow-lg" th:src="*{user.profilePic}"
                                  alt="Bonnie image" /></label
                                > 
                                <input
                                  id="image_file_input"
                                  class="block w-full mb-2 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                  data-th-field="*{userData.pictureFile}"
                                  type="file"
                                  required
                                />
                            
                            </div>





                            <!-- Name -->
                            <div class="mb-3">
                                <label for="input-group-1"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name
                                </label>
                                <div class="relative mb-1">
                                    <input type="text"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="name" th:field="*{userData.name}" required />
                                </div>

                            </div>


                            <!-- email  -->
                            <div class="mb-3">
                                <label for="input-group-1"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Email</label>
                                <div class="relative mb-1">
                                    <input type="text"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="example@gmail.com" th:field="*{userData.email}" required />
                                </div>

                            </div>

                            <!-- password -->
                            <div class="mb-3">
                                <label for="input-group-1"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Password (If want to change) </label>
                                <div class="relative mb-1">
                                    <input type="password"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="xxxxxxxxxx" th:field="*{userData.password}" />
                                </div>
                            </div>


                            <!-- phone number  -->
                            <div class="mb-3">
                                <label for="input-group-1"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Phone</label>
                                <div class="relative mb-1">
                                    <input pattern="^\d{10}$" type="text"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="9823525525" th:field="*{userData.phoneNumber}" required />
                                </div>

                            </div>


                            <!-- description -->
                            <div class="mb-3">
                                <label for="message"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">About</label>
                                <textarea rows="3"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Write about your youtself" th:field="*{userData.about}"
                                    required></textarea>
                            </div>


                            <!-- Submit button -->
                            <div class="button-container text-center">
                                <button type="submit"
                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                    Save
                                </button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--  form end -->


</body>

</html>